@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<h2>This is admin page</h2>

<div class="content">
    <div class="float-left">
        <ul id="update-products">
            <li>
                <div>
                    <div class="item">Product ID</div><span></span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                </div>
                <div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Price</span>
                        <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <textarea class="form-control" aria-label="Description"></textarea>
                    </div>
                </div>
                <div>
                    <input type="button" value="Update"/>
                    <input type="button" value="Delete Item"/>
                </div>
            </li>
        </ul>
    </div>

    <div class="float-right">
        <h2>Add New Product</h2>
        <div>
            <div class="item">Name</div> <input type="text"/>
        </div>
        <div>
            <div class="item">Description</div> <input type="text"/>
        </div>
        <div>
            <div class="item">Price</div> <input type="text"/>
        </div>
        <div>
            <input type="button" value="Save"/>

        </div>
    </div>
</div>